<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Note</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Titre: {{note.title}}</ion-card-title>
      <ion-card-title>Texte: {{note.content}}</ion-card-title>
      <ion-card-title>Date: {{note.date}}</ion-card-title>
      <ion-card-title>Catégorie: {{category.name}}</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>