<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Note</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>

      <ion-item>
      <ion-card-title>Nom: {{note.title}}</ion-card-title>
      </ion-item>
      <ion-item>
      <ion-card-title>Contenu: {{note.content}}</ion-card-title>
      </ion-item>
      <ion-item>
      <ion-card-title>Date: {{note.date}}</ion-card-title>
      </ion-item>
      <ion-item>
      <ion-card-title>Catégorie: {{category.name}}</ion-card-title>
      </ion-item>

      <ion-button shape="round" color="primary" routerLink="/edit-note/{{note.id}}" >
      <ion-icon slot="icon-only" name="build-outline"></ion-icon></ion-button>
      <ion-button shape="round" color="danger" routerLink="/edit-note/{{note.id}}" >
      <ion-icon slot="icon-only" name="trash-outline"></ion-icon></ion-button>
    </ion-card-header>
  </ion-card>
</ion-content>