<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      Catégories
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
    <ion-item>
        <ion-button class="button button-light">Repeindre un mur</ion-button>

        <ion-button (click)="onClick0()" fill="clear">
            <ion-icon slot="icon-only" name="build-outline"></ion-icon>
        </ion-button>

        <ion-button (click)="onClick1()" fill="clear">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
    </ion-item>

    <ion-item>
        <ion-button class="button button-light">Sauce bolo</ion-button>
        <ion-button (click)="onClick0()" fill="clear">
            <ion-icon slot="icon-only" name="build-outline"></ion-icon>
        </ion-button>

        <ion-button (click)="onClick1()" fill="clear">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
    </ion-item>


<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary">
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>
</ion-fab>

</ion-content>